{# purpose of this template: Display images within an external context #}
{% trans_default_domain 'image' %}
{% for image in items %}
    <h3>{{ image|munewsmodule_formattedTitle }}</h3>
{% endfor %}
