/* view pages */
div#z-maincontent.z-module-munews table tbody tr td {
    vertical-align: top;
}

/* display pages */
.munews-display.with-rightbox div.z-panel-content {
    float: left;
    width: 79%;
}
.munews-display div.munews-rightbox {
    float: right;
    margin: 0 1em;
    padding: .5em;
    width: 20%;
    /*border: 1px solid #666;*/
}

.munews-display div.munews-rightbox h3 {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.munews-display div.munews-rightbox p.managelink {
    margin-left: 18px;
}
/* validation */
div.z-formrow input.required, div.z-formrow textarea.required {
    border: 1px solid #00a8e6;
}
div.z-formrow input.validation-failed, div.z-formrow textarea.validation-failed {
    border: 1px solid #f30;
    color: #f30;
}
div.z-formrow input.validation-passed, div.z-formrow textarea.validation-passed {
    border: 1px solid #0c0;
    color: #000;
}

.validation-advice {
    margin: 5px 0;
    padding: 5px;
    background-color: #f90;
    color: #fff;
    font-weight: 700;
}
div.munews-view form.munews-quicknav {
    margin: 10px 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

div.munews-view form.munews-quicknav fieldset {
    padding: 3px 10px;
    margin-bottom: 0;
}

div.munews-view form.munews-quicknav fieldset h3 {
    margin-top: 0;
    display: none;
}

div.munews-view form.munews-quicknav fieldset #num {
    width: 50px;
    text-align: right;
}

.munews-view-title {
	margin: 0 0 10px 0;
	float: left;
}

.munews-view-title img {
	margin: 0 10px 0 0;
	float: left;
}

.munews-view {
    float: left;	
}

.munews-view-start {
	margin: 0;
	float: left;
}

.munews-view-start img {
	margin: 0 10px 0 0;
	float: left;
}

#munews-display-starttext {
	margin: 20px 0;
	float: left;
	clear: both;
	width: 100%;
	
}

#munews-display-starttext img {
	margin: 0 20px 10px 0;
	float: left;
}

#munews-display-maintext {
	margin: 5px 0 20px;
	float: left;
	clear: both;
	width: 100%;
}

#munews-display-maintext img {
	margin: 0 0 15px 20px;
	float: right;
}

#munews-display-images {
    width: 96%;
	margin: 10px 2%;	
}

.munews-display-image img {
    margin: 0 30px 0 0;
}

#munews-display-muimage-albums {
    float: left;	
}

