.float-none {
    margin: 0 0 25px 0;
}

.float-left {
    float: left;
    margin: 0 25px 0 0;
}

.float-right {
    float: right;
    margin: 0 0 0 25px;
}

/******************Message******************/
/***********display********************/

#message-display-start {
    margin: 0 0 25px 0;
}

#message-display-main {
    margin: 0 0 25px 0;
}

#message-display-pictures {
    margin: 15px 0;
}

.message-display-footer {
    margin: 10px 0;
    text-align: right;
}

/*************view**************/

.message-view-categories {
    font-size: 0.9em;
    display: block;
    margin: 0 0 15px 0;
}

/*************Standardfields**********************/

#message-display-header {
    float: left;
    clear: both;
    width: 100%;
}
#message-title {
    clear: both;
    float: left;
}
#message-author-info {
    clear: both;
}

.message-avatar {
    width: 40px;
    float: left;
    margin: 0 15px 0 0;
}
