/* view pages */
div#z-maincontent.z-module-news table tbody tr td {
    vertical-align: top;
}
.table-responsive > .fixed-columns {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
    background-color: #fff;
}

/* display pages */
.munewsmodule-display div.col-sm-3 h3 {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.munewsmodule-display div.col-sm-3 p.managelink {
    margin-left: 18px;
}


/* validation */
div.form-group input:required, div.form-group textarea:required, div.form-group select:required {
    /*border: 1px solid #00a8e6;*/
    background-color: #fff;
}
div.form-group input:required:valid, div.form-group textarea:required:valid, div.form-group select:required:valid {
    /*border: 1px solid green;*/
}
div.form-group input:required:invalid, div.form-group textarea:required:invalid, div.form-group select:required:invalid {
    border: 1px solid red;
}

/* hide legends if tabs are used as both contain the same labels */
div.news-edit .tab-pane legend {
    display: none;
}

/** fix dropdown visibility inside responsive tables */
div.munewsmodule-view .table-responsive {
    min-height: 300px;
}
div.munewsmodule-view form.munewsmodule-quicknav {
    margin: 10px 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

div.munewsmodule-view form.munewsmodule-quicknav fieldset {
    padding: 3px 10px;
    margin-bottom: 0;
}

div.munewsmodule-view form.munewsmodule-quicknav fieldset h3 {
    margin-top: 0;
    display: none;
}

div.munewsmodule-view form.munewsmodule-quicknav fieldset label {
    margin-right: 5px;
}

div.munewsmodule-view form.munewsmodule-quicknav fieldset #num {
    width: 50px;
    text-align: right;
}

div.munewsmodule-view .avatar img {
    width: auto;
    max-height: 24px;
}

@media (max-width: 767px) {
    div.form-group div.category-selector {
        height: auto;
        padding: 0;
    }
}

/**********************OWN*********************/

.message-start-photo {
	float: right;
	margin: 0 0 0 25px;
}
