{# purpose of this template: images user index view #}
{% extends '@MUNewsModule/base.html.twig' %}
{% trans_default_domain 'image' %}
{% block title 'Images'|trans %}
{% block content %}
    <div class="munewsmodule-image munewsmodule-index">
        <p>{% trans %}Welcome to the image section of the News application.{% endtrans %}</p>
    </div>
{% endblock %}
