{# purpose of this template: images user index view #}
{% extends 'MUNewsModule::base.html.twig' %}
{% block title __('Images') %}
{% block content %}
    <div class="munewsmodule-image munewsmodule-index">
        <p>{{ __('Welcome to the image section of the News application.') }}</p>
    </div>
{% endblock %}
