# generated at Mon Feb 03 13:42:11 CET 2014 by ModuleStudio 0.6.1 (http://modulestudio.de)
# ----------------------------------------------------------------------
# Purpose of file: give access to upload files treated in this directory
# ----------------------------------------------------------------------
deny from all
<FilesMatch "\.(gif|jpeg|jpg|png)$">
    order allow,deny
    allow from all
</filesmatch>
