{# purpose of this template: messages user index view #}
{% extends 'MUNewsModule::base.html.twig' %}
{% block title __('messages') %}
{% block content %}
    <p>{{ __('Welcome to the message section of the News application.') }}</p>
{% endblock %}
